body{
	margin: 0;
	font-family: sans-serif;
}

h6{
	font-family: cursive;
	font-weight: bold;
	font-size: 15px;
}

h5 {
	font-size: 25px;
	font-weight: normal;
}

button{
	border-radius: 50px;
	width: 120px;
 	height: 39px;
 	color: #CCA07C;
 	background-color: #E6E6E6;
 	border-color: #CCA07C;
 	border-style: solid;
}

button:hover{
	color: #E6E6E6;
 	background-color: #CCA07C;
}

header{
	display: flex;
	flex-direction: row;
	border-bottom-style: solid;
	justify-content: space-arround;
	align-items: center;
	background-color: #FFE1C9;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.usuario{
	height: 50px;
	margin-right: 60px;
}
.logo{
	height: 100px;
	margin-top: -20px;
	margin-bottom: -20px;
	margin-left: 20px;
	margin-right: 50px;
}
.botones{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-content: left;
	gap: 25px;
}

@media (max-width: 850px){
	.botones{
		display: none;
	}
	header{
		justify-content: space-between;
	}
	.usuario{
		flex-grow: 1;
	}
}
.box1 a{
	color: black;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
}

.box1 a:hover{
	border-bottom-style: solid;
	color: #9FAD8E;
}


.box2{
	padding-left: 10%;
	background-image: url("./img/orange.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: auto;
	width: auto;
	padding-top: 170px;
	padding-bottom: 150px;
}
.box2 h6{
	margin-bottom: 10px;
}
.box2 h1{
	margin-top: -20px;
}

.categories1{
	display: flex;
	flex-direction: row;
	border-bottom-style: solid;
	border-width: 1px;
	justify-content: space-arround;
	align-items: center;
	padding: 10px;
	left: 0;
	right: 0;
	gap: 35px;
	padding-left: 5%;
	padding-bottom: 10px;
}
.gray{
	color: gray;
}
.box3{
	font-weight: bold;
}
.box3 a{
	color: black;
	text-decoration: none;
}
.box3 a:hover{
	color: darkgray;
}
@media (min-width: 850px){
	.categories2{
		display: none;
	}
}
@media (max-width: 850px){
	.categories1{
		display: none;
	}
	.categories2{
		display: flex;
		flex-direction: column;
		border-bottom-style: solid;
		border-width: 1px;
		justify-content: space-arround;
		align-items: center;
		padding: 10px;
		left: 0;
		right: 0;
		gap: 25px;
		padding-left: 5%;
		padding-bottom: 10px;
	}
	.caja1{
		display: flex;
		justify-content: center;
		flex-direction: row;
		column-gap: 18px;
		padding-bottom: 15px;
	}
	.box3 {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 30px;
	}
}

.lastrecipies{
	margin-left: 5%;
}
.recipies{
	display: flex;
	justify-content: space-between;
	gap: 60px;
	margin-right: 5%;

}
.recipies h5{
	margin-top: 23px;
	margin-bottom: 0px;
}
.recipies h6{
	margin-top: 5px;
	margin-bottom: 15px;
}

.box4 img{
	max-width: 100%;
	height: auto;
}
@media (max-width: 850px){
	.recipies{
		flex-direction: column;
	}
}


.nevermiss{
	display: flex;
	background-color: #BD8C71;
	justify-content: space-evenly;
	margin: 5%;
	padding: 5%;
	border-radius: 50px;
	align-items: center;
	flex-direction: row;
	column-gap: 20px;
}
.nevermiss h5{
	margin-top: 23px;
	margin-bottom: 0px;
}
.box5{
	display: flex;
	justify-content: center;             
	align-items: center;
}
.box5 button{
 	color: black;
 	background-color: #FFE1C9;
 	border-color: #FFE1C9;
 	border-style: solid;
 	margin-left: -120px;
}
.box5 button:hover{
	color: #E6E6E6;
 	background-color: #BD8C71;
}
input{
	border-radius: 50px;
 	height: 33px;
 	width: 300px;
 	background-color: #BD8C71;
 	border-color: #FFE1C9;
 	border-style: solid;

}
::placeholder{
	color: black;
	opacity: 1;
	padding-left: 15px;
}
@media (max-width: 850px){
	.nevermiss{
		flex-direction: column;
	}
	input{
	border-radius: 50px;
 	height: 33px;
 	width: 250px;
	}
}

.mostpopular h2{
	padding-left: 5%
}
.popular{
	display: flex;
	flex-direction: row;
	padding: 5%;
	justify-content: space-evenly;
	gap: 60px;

}
.popular h6{
	padding-top: 95%;
	margin-bottom: 0px;
}

.popular h5{
	margin-bottom: 5px;
	margin-top: 0px;
}
.imagen1{
	background-image: url("./img/image.jpeg");
	width: 40%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 10px;
}
.imagen2{
	background-image: url("./img/image.jpeg");
	width: 40%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 10px;
}
.imagen3{
	background-image: url("./img/image.jpeg");
	width: 40%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 10px;
}
.imagen4{
	background-image: url("./img/image.jpeg");
	width: 40%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 10px;
}
@media (max-width: 850px){
	.popular{
		flex-direction: column;
		justify-content: center;
	}
	.imagen1{
		width: auto;
	}
	.imagen2{
		width: auto;
	}
	.imagen3{
		width: auto;
	}
	.imagen4{
		width: auto;
	}
}

article{
	display: flex;
	background-color: #C7AD9F;
	justify-content: space-evenly;
	border: solid;
	border-color: #A39083;
	align-items: center;
	gap: 15%;
	padding-left: 7%;
}

.jhondoe{
	max-width: 60%;
}
.box7 h2{
	font-size: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.box7 h6{
	margin-bottom: 5px;
}
.box7 p{
	margin-right: 15%;
}
@media (max-width: 850px){

	article{
		flex-direction: column;
	}
	.box7{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


footer{
	border-top-style: solid;
	background-color: #FFE1C9;
	align-items: center;
	left: 0;
	right: 0;
	padding-bottom: 50px;
	padding-top: 50px;
}

.logo2{
	height: 100px;
	margin-left: 8%;
}
.logo{
	height: 100px;
	margin-left: 20px;
	margin-right: 50px;
}
.box8{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.box10 img{
	height: 30px;
}
.box10{
	margin-right: 5%;
}
.box9{
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: left;
	gap: 15px;
}
@media (max-width: 850px){
	.box9{
		flex-direction: column;
		margin-left: 0px;
		row-gap: 30px;
		
	}
	.box8{
		display: flex;
		flex-direction: column;

	}
	.box10{
		margin-right: 0%;
		margin-top: 25px;
	}
	.caja2{
		display: flex;
		justify-content: center;
		margin-left: -35px;
	}
	.box1 a{
		color: black;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	.box1 a:hover{
		border-left-style: solid;
		color: #9FAD8E;
		border-bottom-style: none;
		padding-left: 12px;
}
